<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter&v2' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui.css'}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <meta charset="UTF-8"/>
    #{get 'moreStyles' /}
    #{if play.Play.configuration.getProperty("google.analytics") == "true"}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-10728649-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    #{/if}
    <script type="text/javascript" src="${'/public/javascripts/jquery-1.6.min.js'}"></script>
    <script type="text/javascript" src="${'/public/javascripts/jquery-ui.min.js'}"></script>
    #{get 'moreScripts' /}
</head>
<body>
<div id="main">
    #{doLayout /}
</div>
</body>
</html>
